<!doctype html>
<html lang="en">
    <head>
        <title>Practical Python</title>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </head>
    <body>
        <div class="bg-emerald-100 min-h-screen">
            <div class="bg-emerald-500 px-6 py-4 flex justify-between">
                <h1 class="font-bold text-white text-xl"><a href="#">Practical Python</a></h1>
                <nav class="text-emerald-100 flex gap-3">
                    <a href="#">Home</a>
                    <a href="#">About</a>
                    <a href="https://adventure.practicalpython.org/">Adventure</a>
                </nav>
            </div>
            
            <div>Core</div>
            <div>Footer</div>
        </div>
        
    </body>
</html>